
%hr
%h2
  .parts
    Created Users
.card
  =line_chart  charts_users_per_day_path

%hr
%hr
%h2
  .parts
    Total Enrollments
.card
  =column_chart  charts_enrollments_per_day_path

%hr
%hr
%h2
  .parts
    Course Popularity
.card
  =pie_chart  @enrollments.joins(:course).group(:'courses.title').count

%hr
%hr
%h2
  .parts
    Most Purchased Courses
.card
  =bar_chart  @enrollments.joins(:course).group(:'courses.title').sum(:price)
