- content_for :title do
  Udzilla
  \|
  Privacy Policy
%h1
  .text-center.coursy.mb-3
    Privacy Policy
.row
  .col-sm-6
    .card.m-3
      .card-body
        %h5.card-title.font-weight-bold Account Data
        %p.card-text In order to use certain features (like accessing content), you need to create a user account. When you create or update your account, we collect and store the data you provide, like your email address, password, phone number, occupation, skill interests, gender, race, ethnicity, government ID information, 
        verification photo, age, date of birth, and account settings and assign you a unique identifying number (“Account Data”). 
  .col-sm-6
    .card.m-3
      .card-body
        %h5.card-title.font-weight-bold Shared Content
        %p.card-text Parts of the Services let you interact with other users or share content publicly, including by posting reviews about content, asking or answering questions, sending messages to students or instructors, or posting photos or other work you upload. 
        Such shared content may be publicly viewable by others depending on where it is posted. 
  .col-sm-6
    .card.m-3
      .card-body
        %h5.card-title.font-weight-bold Educational Content Data
        %p.card-text When you access content, we collect certain data including which courses, assignments, labs, workspaces, and quizzes you’ve started and completed; content purchases and credits; subscriptions; completion certificates; your exchanges with instructors, teaching assistants, and other students; and essays, answers to questions, and other items submitted to satisfy course and related content requirements.
        If you are an instructor, we store your educational content which may contain data about you.  
  .col-sm-6
    .card.m-3
      .card-body
        %h5.card-title.font-weight-bold Student Payment Data
        %p.card-text If you make purchases, we collect certain data about your purchase (such as your name and ZIP code) as necessary to process your order. You must provide certain payment and billing data directly to our payment service providers, including your name, credit card information, billing address, and ZIP code. We may also receive limited information, like the fact that you have a new card and the last four digits of that card, from payment service providers to facilitate payments. For security, 
        Udemy does not collect or store sensitive cardholder data, such as full credit card numbers or card authentication data. 

  .col-sm-6
    .card.m-3
      .card-body
        %h5.card-title.font-weight-bold Instructor Payment Data
        %p.card-text If you are an instructor, you can link your PayPal, Payoneer, or other payment account to the Services to receive payments. When you link a payment account, we collect and use certain information, including your payment account email address, account ID, physical address, or other data necessary for us to send payments to your account. In some instances, we may collect ACH or wire information to send payments to your account. In order to comply with applicable laws, we also work with trusted third parties who collect tax information as legally required. This tax information may include residency information, tax identification numbers, biographical information, and other personal information necessary for taxation purposes. For security, Udemy does not collect or store sensitive bank account information. The collection, use, and disclosure of your payment,
        billing, and taxation data is subject to the privacy policy and other terms of your payment account provider. 
  .col-sm-6
    .card.m-3.mb-5
      .card-body
        %h5.card-title.font-weight-bold Data About Your Accounts on Other Services
        %p.card-text  We may obtain certain information through your social media or other online accounts if they are connected to your Udemy account. If you login to Udemy via Facebook or another third-party platform or service, we ask for your permission to access certain information about that other account. For example, depending on the platform or service we may collect your name, profile picture, account ID number, login email address, location, physical location of your access devices, gender, birthday, and list of friends or contacts.
        Those platforms and services make information available to us through their APIs. The information we receive depends on what information you (via your privacy settings) or the platform or service decide to give us.
        If you access or use our Services through a third-party platform or service, or click on any third-party links, the collection, use, and sharing of your data will also be subject to the privacy policies and other agreements of that third party. 