.card
  .card-header.coursy.text-center
    %h2
      .far.fa-check-square
      Edit lesson
  .card-body 
    = render 'form'
  .card-footer.text-center.text-white
    = link_to 'Show Lesson', course_lesson_path(@course, @lesson), class: 'btn btn-primary text-white'
    \|
    = link_to 'Back To Courses', course_path(@lesson.course), class: 'btn btn-secondary text-white'
