- content_for :title do
  Udzilla
  \|
  Editing
  = @course.title
.card
  .card-header.coursy.text-center
    %h2
      .far.fa-check-square
      Edit Course
  .card-body 
    = render 'form'
  .card-footer
    .text-center
      = link_to 'Show', @course, class: 'btn btn-primary text-white mr-5'
      \
      = link_to 'Back', courses_path, class: 'btn btn-secondary text-white ml-5'
