.card
  .card-header 
    %h1 Editing course
  .card-body 
    = render 'form'

.text-center
  = link_to 'Show', @course, class: 'btn btn-primary text-white mr-5'
  \
  = link_to 'Back', courses_path, class: 'btn btn-secondary text-white ml-5'
