- content_for :title do
  Udzilla
  \|
  New Course
.card
  .card-header.text-center.new-cors.coursy
    %h2
      .far.fa-check-square
      New Course
  .card-body.h6
    = render 'form'

= link_to 'Back', courses_path, class: "btn btn-dark text-white"
