@import 'bootstrap/dist/css/bootstrap';

body {
  background-color: #E4E9F0 !important;
}

.navbar {
  background-color: #20115b !important;
  color: #E4E9F0 !important;
}

.bckgrd:hover {
  background-color: #20115b !important;
}
.bckgrd {
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  
}

.links {
  font-size: 1.5rem !important;
}
.btn-cust {
  background-color: white !important;
}

.btn-c {
  color: white !important;;
}

.jumbotron {
  background-image: asset-url('home3.jpg');
  background-position: center;
  background-size: cover;
  height: 41rem;
  background-color: #010108;
}


.text-cen {
  justify-content: center;
}

.cardo {
  background-color: #20115b !important;
}
.cardy {
  margin: 0 auto;
  color: white;
  background-color: #20115b !important;
  padding: 1rem;
  font-size: 1.5rem;
}

.headery,
.titly  {
  background-color: #20115b !important;
  color: white !important;
  text-align: center !important;
  font-size: 1.5rem;
}

.footery {
  text-align: center !important;
  background-color: rgb(52, 52, 73) !important;
}

.desy,
.footy {
  text-align: center;
  font-size: 1.2rem;
}

.parts {
  text-align: center;
  margin-bottom: 2rem !important;
  background-color: #7232f2;
  color: white;
  height: 6rem;
  padding-top: 1rem;
}

.new-cors {
  background-color: rgb(33, 34, 34);
  color: white;
}

.mybtn {
  width: 100%;
}

.filedy {
  height: 2.5rem;
  width: 19rem;
  text-align: center;
  font-size: large;
}

.refrsh {
  position: absolute;
  top: 0.1rem;
  right: 2rem;
  height: 2.4rem;
  color: white !important;
}

.coursy {
  background-color: #7232f2;
  height: 8rem;
  color: white;
  padding-top: 2rem;
}

.user-act {
  margin: 0 auto !important;
  font-size: 1.5rem !important;
  line-height: 2rem;
}

footer {
  color:#20115b;
  height: 3.5rem;
  border-top:  #7232f2 3px solid;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.roly {
  font-size: 2rem;
  text-align: center;
}

.outer-link {
  font-size: 1.5rem;
  margin-left: 85rem !important;
} 
.dev:hover {
 background-color: #581ad4 !important;
 color: white !important;
}
.searchy {
  width: 100%;
  height: 2.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.app {
  border-top: 5px solid #581ad4;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
  .mk {
    color: black !important;
  }
}
