@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: rgb(52, 52, 73) !important;
}

.btn-cust {
  background-color: rgb(66, 147, 194) !important;
}

.btn-c {
  color: rgb(66, 147, 194) !important;;
}

.jumbotron {
  background-image: asset-url('land.jpg');
  background-size: cover;
  height: 51rem;
}


.text-cen {
  justify-content: center;
}

.cardo {
  background-color: rgb(52, 52, 73) !important;
}
.cardy {
  margin: 0 auto;
  color: white;
  background-color: rgb(52, 52, 73) !important;
  padding: 1rem;
  font-size: 1.5rem;
}

.headery,
.titly  {
  background-color: rgb(33, 34, 34);
  color: rgb(46, 158, 223) !important;
  text-align: center !important;
  font-size: 1.5rem;
}

.footery {
  text-align: center !important;
  background-color: rgb(52, 52, 73) !important;
}

.desy,
.footy {
  text-align: center;
  font-size: 1.2rem;
}

.parts {
  text-align: center;
  margin-bottom: 2rem !important;
  text-decoration: underline 3px solid rgb(46, 158, 223);
}

.new-cors {
  background-color: rgb(33, 34, 34);
  color: rgb(46, 158, 223);
}

.mybtn {
  width: 100%;
}


















