@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: rgb(52, 52, 73) !important;
}

.btn-cust {
  background-color: rgb(66, 147, 194) !important;
}

.btn-c {
  color: rgb(66, 147, 194) !important;;
}

