%footer.mt-1.bg-dark.text-light
  .container
    .row 
      .col
        Copyright
        @
        = Time.now.year
        ELearning S.S
        .row.text-light.mk
        .fas.fa-envelope.mk
        = mail_to 'shahershamroukh@gmail.com' 
      .col.mk
        = link_to 'Privacy and policy', privacy_policy_path, class: 'text-light mk'
        .row.mk
        Terms and Conditions
      .col.mk
        About Us
        .row 
        = link_to 'Teach On Udzilla', new_course_path, class: 'text-light mk'
        